.App {
    text-align: center;
    background-color: #CDCBCC;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #F1F2EB;
}

#app-container {
    min-height: calc(100vh - var(--header-height) - var(--header-height));
}
