html {
    --header-height-default: 80px;
    --footer-height-default: 80px;
    --header-height-xs: var(--header-height-default) * 0.6;
    --header-height-sm: var(--header-height-default) * 0.7;
    --header-height-md: var(--header-height-default) * 0.8;
    --header-height-lg: var(--header-height-default) * 0.9;
    --header-height-xl: var(--header-height-default) * 1;
    --footer-height-xs: var(--footer-height-default) * 0.6;
    --footer-height-sm: var(--footer-height-default) * 0.7;
    --footer-height-md: var(--footer-height-default) * 0.8;
    --footer-height-lg: var(--footer-height-default) * 0.9;
    --footer-height-xl: var(--footer-height-default) * 1;
}

@import '01-xs.css';
@import '02-sm.css';
@import '03-md.css';
@import '04-lg.css';
@import '05-xl.css';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
    padding: 10px;
}

fieldset legend {
    font-size: 1.1em;
}

.cui.form {
    width: 400px;
    background-color: #f0f0f0;
    font-size: 14px;
    border-radius: 2px;
}

.cui.form input {
    margin-bottom: 4px;
    height: 20px;
    border: 1px solid #aec6d8;
    border-radius: 2px;
}

.cui.float-right {
    float: right;
}

.cui.float-left {
    float: left;
}

.cui.flex.row {
    display: flex;
    flex-direction: row;
}

.cui.flex.column {
    display: flex;
    flex-direction: column;
}

.cui.flex.column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.cui.flex.jc-start {
    justify-content: flex-start;
}

.cui.flex.jc-end {
    justify-content: flex-end;
}

.cui.flex.jc-center {
    justify-content: center;
}

.cui.flex.jc-space-between {
    justify-content: space-between;
}

.cui.flex.jc-space-evenly {
    justify-content: space-evenly;
}

.cui.flex.jc-space-around {
    justify-content: space-around;
}

.cui.as-start {
    align-self: flex-start;
}

.cui.as-end {
    align-self: flex-end;
}

.cui.as-center {
    align-self: center;
}

.cui.as-strech {
    align-self: strech;
}

.cui.as-baseline {
    align-self: baseline;
}

.cui.flex.ai-start {
    align-items: flex-start;
}

.cui.flex.ai-end {
    align-items: flex-end;
}

.cui.flex.ai-center {
    align-items: center;
}

.cui.flex.ai-strech {
    align-items: strech;
}

.cui.flex.ai-baseline {
    align-items: baseline;
}

.cui.flex.ac-start {
    align-content: flex-start;
}

.cui.flex.ac-end {
    align-content: flex-end;
}

.cui.flex.ac-center {
    align-content: center;
}

.cui.flex.ac-space-between {
    align-content: space-between;
}

.cui.flex.ac-strech {
    align-content: strech;
}

.cui.flex.ac-space-around {
    align-content: space-around;
}

.cui.grid {
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
}

.cui.hidden {
    text-indent: -5000px;
    margin: 0;
    height: 0px;
}

.cui.width-100 {
    width: 100%;
}

.cui.width-90 {
    width: 90%;
}

.cui.width-80 {
    width: 80%;
}

.cui.width-70 {
    width: 70%;
}

.cui.width-60 {
    width: 60%;
}

.cui.width-50 {
    width: 50%;
}

.cui.width-40 {
    width: 40%;
}

.cui.width-30 {
    width: 30%;
}

.cui.width-20 {
    width: 20%;
}

.cui.width-10 {
    width: 10%;
}

.cui.height-100 {
    height: 100%;
}

.cui.height-90 {
    height: 90%;
}

.cui.height-80 {
    height: 80%;
}

.cui.height-70 {
    height: 70%;
}

.cui.height-60 {
    height: 60%;
}

.cui.height-50 {
    height: 50%;
}

.cui.height-40 {
    height: 40%;
}

.cui.height-30 {
    height: 30%;
}

.cui.height-20 {
    height: 20%;
}

.cui.height-10 {
    height: 10%;
}

.cui.width-100vw {
    width: 100vw;
}

.cui.width-90vw {
    width: 90vw;
}

.cui.width-80vw {
    width: 80vw;
}

.cui.width-70vw {
    width: 70vw;
}

.cui.width-60vw {
    width: 60vw;
}

.cui.width-50vw {
    width: 50vw;
}

.cui.width-40vw {
    width: 40vw;
}

.cui.width-30vw {
    width: 30vw;
}

.cui.width-20vw {
    width: 20vw;
}

.cui.width-10vw {
    width: 10vw;
}

.cui.height-100vh {
    height: 100vh;
}

.cui.height-90vh {
    height: 90vh;
}

.cui.height-80vh {
    height: 80vh;
}

.cui.height-70vh {
    height: 70vh;
}

.cui.height-60vh {
    height: 60vh;
}

.cui.height-50vh {
    height: 50vh;
}

.cui.height-40vh {
    height: 40vh;
}

.cui.height-30vh {
    height: 30vh;
}

.cui.height-20vh {
    height: 20vh;
}

.cui.height-10vh {
    height: 10vh;
}

.cui.btn {
    background-color: #6c757e;
    border: none;
    color: black;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 1px;
}

.cui.nav.btn {
    padding: 0px;
    font-weight: 400;
    border-radius: 0;
    -webkit-border-radius: 0;
    margin: 0px;
}

.cui.nav.btn {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
}

.cui.btn:hover {
    filter: brightness(120%);
}

.cui.btn.xs {
    padding: 6px;
    font-size: 12px;
    min-width: 40px;
}

.cui.btn.sm {
    padding: 7px;
    font-size: 14px;
    min-width: 60px;
}

.cui.btn.md {
    padding: 8px;
    font-size: 16px;
    min-width: 80px;
}

.cui.btn.lg {
    padding: 9px;
    font-size: 18px;
    min-width: 100px;
}

.cui.btn.xl {
    padding: 10px;
    font-size: 20px;
    min-width: 120px;
}

input[type='submit'].cui.btn,
input[type='reset'].cui.btn {
    border-radius: 6px;
    -webkit-border-radius: 4px;
    border: none;
}

input[type='submit'].cui.btn.xs,
input[type='reset'].cui.btn.xs {
    padding-top: 5px;
    padding-bottom: 20px;
}

input[type='submit'].cui.btn.sm,
input[type='reset'].cui.btn.sm {
    padding-top: 7px;
    padding-bottom: 25px;
}

input[type='submit'].cui.btn.md,
input[type='reset'].cui.btn.md {
    padding-top: 8px;
    padding-bottom: 28px;
}

input[type='submit'].cui.btn.lg,
input[type='reset'].cui.btn.lg {
    padding-top: 8px;
    padding-bottom: 32px;
}

input[type='submit'].cui.btn.xl,
input[type='reset'].cui.btn.xl {
    padding-top: 10px;
    padding-bottom: 37px;
}

.cui.pointer {
    cursor: pointer;
}

.cui.font6 {
    font-size: 6pt;
}

.cui.font7 {
    font-size: 7pt;
}

.cui.font8 {
    font-size: 8pt;
}

.cui.font9 {
    font-size: 9pt;
}

.cui.font10 {
    font-size: 10pt;
}

.cui.font11 {
    font-size: 11pt;
}

.cui.font12 {
    font-size: 12pt;
}

.cui.font13 {
    font-size: 13pt;
}

.cui.font14 {
    font-size: 14pt;
}

.cui.font15 {
    font-size: 15pt;
}

.cui.font16 {
    font-size: 16pt;
}

.cui.font17 {
    font-size: 17pt;
}

.cui.font18 {
    font-size: 18pt;
}

.cui.font19 {
    font-size: 19pt;
}

.cui.font20 {
    font-size: 20pt;
}

.cui.text-align-left {
    text-align: left;
}

.cui.text-align-right {
    text-align: right;
}

.cui.text-align-center {
    text-align: center;
}

.cui.text-align-justify {
    text-align: justify;
}

.cui.text-color-black {
    color: #000000;
}

.cui.text-color-white {
    color: #ffffff;
}

.cui.text-color-grey,
.cui.text-color-gray {
    color: #6c757e;
}

.cui.bg-color-red {
    background-color: #a41623;
}

.cui.text-color-blue {
    color: #0052a5;
}

.cui.text-color-orange {
    color: #f2711c;
}

.cui.text-color-yellow {
    color: #ffc001;
}

.cui.text-color-purple {
    color: #a333c8;
}

.cui.text-color-green {
    color: #1ca345;
}

.cui.text-color-pink {
    color: #e03997;
}

.cui.text-color-brown {
    color: #a5673f;
}

.cui.text-color-violet {
    color: #6435c9;
}

.cui.text-color-dark {
    color: #353a40;
}

.cui.text-color-light {
    color: #f8f9fb;
}

.cui.bg-color-black {
    background-color: #000000;
}

.cui.bg-color-white {
    background-color: #ffffff;
}

.cui.bg-color-grey,
.cui.bg-color-gray {
    background-color: #6c757e;
}

.cui.bg-color-red {
    background-color: #92191d;
}

.cui.bg-color-blue {
    background-color: #0052a5;
}

.cui.bg-color-orange {
    background-color: #f2711c;
}

.cui.bg-color-yellow {
    background-color: #ffc001;
}

.cui.bg-color-purple {
    background-color: #a333c8;
}

.cui.bg-color-green {
    background-color: #1ca345;
}

.cui.bg-color-pink {
    background-color: #e03997;
}

.cui.bg-color-brown {
    background-color: #a5673f;
}

.cui.bg-color-violet {
    background-color: #6435c9;
}

.cui.bg-color-dark {
    background-color: #353a40;
}

.cui.bg-color-ligth {
    background-color: #f8f9fb;
}

.cui.bright-10 {
    filter: brightness(10%);
}

.cui.bright-20 {
    filter: brightness(20%);
}

.cui.bright-30 {
    filter: brightness(30%);
}

.cui.bright-40 {
    filter: brightness(40%);
}

.cui.bright-50 {
    filter: brightness(50%);
}

.cui.bright-60 {
    filter: brightness(60%);
}

.cui.bright-70 {
    filter: brightness(70%);
}

.cui.bright-80 {
    filter: brightness(80%);
}

.cui.bright-90 {
    filter: brightness(90%);
}

.cui.bright-100 {
    filter: brightness(100%);
}

.cui.bright-110 {
    filter: brightness(110%);
}

.cui.bright-120 {
    filter: brightness(120%);
}

.cui.bright-130 {
    filter: brightness(130%);
}

.cui.bright-140 {
    filter: brightness(140%);
}

.cui.bright-150 {
    filter: brightness(150%);
}

.cui.bright-160 {
    filter: brightness(160%);
}

.cui.bright-170 {
    filter: brightness(170%);
}

.cui.bright-180 {
    filter: brightness(180%);
}

.cui.bright-190 {
    filter: brightness(190%);
}

.cui.bright-200 {
    filter: brightness(200%);
}

.cui.mt-auto {
    margin-top: auto;
}

.cui.mb-auto {
    margin-bottom: auto;
}

.cui.mr-auto {
    margin-right: auto;
}

.cui.ml-auto {
    margin-left: auto;
}

.cui.m-0 {
    margin: 0px;
}
.cui.m-2 {
    margin: 2px;
}
.cui.m-4 {
    margin: 4px;
}
.cui.m-6 {
    margin: 6px;
}
.cui.m-8 {
    margin: 8px;
}
.cui.m-10 {
    margin: 10px;
}
.cui.m-12 {
    margin: 12px;
}

.cui.ml-0 {
    margin-left: 0px;
}
.cui.ml-2 {
    margin-left: 2px;
}
.cui.ml-4 {
    margin-left: 4px;
}
.cui.ml-6 {
    margin-left: 6px;
}
.cui.ml-8 {
    margin-left: 8px;
}
.cui.ml-10 {
    margin-left: 10px;
}
.cui.ml-12 {
    margin-left: 12px;
}
.cui.mr-0 {
    margin-right: 0px;
}
.cui.mr-2 {
    margin-right: 2px;
}
.cui.mr-4 {
    margin-right: 4px;
}
.cui.mr-6 {
    margin-right: 6px;
}
.cui.mr-8 {
    margin-right: 8px;
}
.cui.mr-10 {
    margin-right: 10px;
}
.cui.mr-12 {
    margin-right: 12px;
}

.cui.mb-0 {
    margin-bottom: 0px;
}
.cui.mb-2 {
    margin-bottom: 2px;
}
.cui.mb-4 {
    margin-bottom: 4px;
}
.cui.mb-6 {
    margin-bottom: 6px;
}
.cui.mb-8 {
    margin-bottom: 8px;
}
.cui.mb-10 {
    margin-bottom: 10px;
}
.cui.mb-12 {
    margin-bottom: 12px;
}

.cui.mt-0 {
    margin-top: 0px;
}
.cui.mt-2 {
    margin-top: 2px;
}
.cui.mt-4 {
    margin-top: 4px;
}
.cui.mt-6 {
    margin-top: 6px;
}
.cui.mt-8 {
    margin-top: 8px;
}
.cui.mt-10 {
    margin-top: 10px;
}
.cui.mt-12 {
    margin-top: 12px;
}

.cui.p-0 {
    padding: 0;
}

.cui.p-2 {
    padding: 2px;
}
.cui.p-4 {
    padding: 4px;
}
.cui.p-6 {
    padding: 6px;
}
.cui.p-8 {
    padding: 8px;
}

.cui.p-10 {
    padding: 10px;
}

.cui.p-12 {
    padding: 12px;
}

.cui.pl-0 {
    padding-left: 0;
}

.cui.pl-2 {
    padding-left: 2px;
}
.cui.pl-4 {
    padding-left: 4px;
}
.cui.pl-6 {
    padding-left: 6px;
}
.cui.pl-8 {
    padding-left: 8px;
}

.cui.pl-10 {
    padding-left: 10px;
}

.cui.pl-12 {
    padding-left: 12px;
}
.cui.pr-0 {
    padding-right: 0;
}

.cui.pr-2 {
    padding-right: 2px;
}
.cui.pr-4 {
    padding-right: 4px;
}
.cui.pr-6 {
    padding-right: 6px;
}
.cui.pr-8 {
    padding-right: 8px;
}

.cui.pr-10 {
    padding-right: 10px;
}

.cui.pr-12 {
    padding-right: 12px;
}

.cui.pb-0 {
    padding-bottom: 0;
}

.cui.pb-2 {
    padding-bottom: 2px;
}
.cui.pb-4 {
    padding-bottom: 4px;
}
.cui.pb-6 {
    padding-bottom: 6px;
}
.cui.pb-8 {
    padding-bottom: 8px;
}

.cui.pb-10 {
    padding-bottom: 10px;
}

.cui.pb-12 {
    padding-bottom: 12px;
}

.cui.pt-0 {
    padding-top: 0;
}

.cui.pt-2 {
    padding-top: 2px;
}
.cui.pt-4 {
    padding-top: 4px;
}
.cui.pt-6 {
    padding-top: 6px;
}
.cui.pt-8 {
    padding-top: 8px;
}

.cui.pt-10 {
    padding-top: 10px;
}

.cui.pt-12 {
    padding-top: 12px;
}
